body {
  margin: 0;
  line-height: 1.4;
  background-color: #15101B;
  font-family: "Acrom";
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  color: #fff;
  text-decoration: none;
  font-weight: 400;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0 0 10px;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px;
}

.page {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.center {
  text-align: center;
  margin: 0 auto;
}

/* Header */
.header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #3B3741;
  position: relative;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
}

.header__logo {
  width: 139px;
  height: 29px;
  margin-right: 40px;
}

.header__search {
  max-width: 350px;
  width: 100%;
}

.header__btn {
  display: flex;
}

.header__icon {
  display: flex;
  align-items: center;
  position: relative;
}
.header__icon-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 16px;
}
.header__icon-item svg {
  background: linear-gradient(144.37deg, #95b9fe -3.93%, #9a22f7 62.2%);
}
.header__icon-item:last-child {
  margin-right: 0;
}
.header__icon .col {
  position: relative;
  bottom: -5px;
  left: -3px;
  width: 32px;
  height: 32px;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

/* Search */
.search {
  width: 100%;
  position: relative;
}

.search__input {
  color: #fff;
  font-weight: 400;
  width: 100%;
  padding: 11px 20px;
  outline: none;
  max-width: 350px;
  position: relative;
  background: #1D1625;
  border: 1px solid #3B3741;
  box-sizing: border-box;
  border-radius: 220px;
  font-family: "Acrom";
  font-size: 18px;
  transition: border-color 0.2s linear;
}
.search__input:focus {
  border-color: rgb(216, 106, 224);
}
.search__input-registr {
  margin-top: 8px;
  margin-bottom: 29px;
  height: 40px;
}
.search__input-text {
  height: 117px;
  border-radius: 20px;
  resize: none;
  overflow-y: hidden;
}
.search__input-social {
  max-width: 460px;
  text-align: center;
}

.wallet__img {
  width: 49px;
  height: 49px;
}

.social__block {
  position: relative;
}
.social__block img {
  position: absolute;
  left: 0;
  top: 5px;
  width: 46px;
  height: 46px;
}

.search__photo {
  position: absolute;
  right: 27px;
  top: 50%;
  transform: translateY(-50%);
}

.search__input::-moz-placeholder {
  font-size: 16px;
  line-height: 19px;
  color: #9E9EA7;
}

.search__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 19px;
  color: #9E9EA7;
}

.search__input::placeholder {
  font-size: 16px;
  line-height: 19px;
  color: #9E9EA7;
}

/* Btn */
.btn {
  display: inline-block;
  padding: 10px 19px;
  min-width: 130px;
  text-decoration: none;
  position: relative;
  font-family: "Acrom";
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  background: #15101B;
  background-clip: padding-box;
  border: solid 2px transparent;
  border-radius: 220px;
}
.btn:before {
  position: absolute;
  content: "";
  background: linear-gradient(to right, rgb(148, 187, 254), rgb(217, 107, 224), rgb(154, 34, 247));
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  margin: -2px;
  border-radius: inherit;
}
.btn span {
  background-image: linear-gradient(to right, rgb(191, 137, 235), rgb(216, 106, 224), rgb(194, 80, 232));
  color: transparent;
  -webkit-background-clip: text;
  z-index: 3;
  position: relative;
}
.btn:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgb(216, 106, 224);
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: opacity 0.2s linear;
  border-radius: 220px;
}
.btn:hover:after {
  opacity: 0.2;
}
.btn-registr {
  background: #1D1625;
  width: 160px;
  border: 2px solid #D668E0;
}
.btn-registr span {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.btn-registr:disabled {
  opacity: 0.3;
  cursor: default;
}

/* Notification */
.notification__modal {
  min-width: 315px;
  background-color: #15101B;
  position: absolute;
  top: 79px;
  right: 60px;
  z-index: 11111111;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  transition: height 0.2s linear;
  opacity: 0;
  border: 2px solid #D566E1;
  box-shadow: 0px 0px 37px rgba(113, 22, 155, 0.61);
  transition: opacity 0.2s linear;
  overflow: hidden;
  padding-bottom: 15px;
}
.notification__modal-title {
  text-align: center;
}

.block {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.nonee {
  display: none;
}

.notification-active {
  opacity: 1;
}

.notifications-btn {
  width: 160px;
  background: linear-gradient(90deg, #94BBFE 0%, #AC7DFE 52.08%, #EF1AF8 100%);
  border-radius: 220px;
  padding: 10px 53px;
  margin: 0 auto;
  margin-top: 15px;
  display: block;
}

.notification__modal-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  margin: 17px 10px 15px;
}

.notification__item {
  display: flex;
  align-items: center;
  padding: 14px 12px;
  background-color: #221D27;
  border-radius: 10px;
  margin: 0 10px 10px;
}
.notification__item:last-of-type {
  margin-bottom: 0;
}
.notification__item-photo {
  width: 42px;
  height: 42px;
  margin-right: 13px;
  position: relative;
}
.notification__item-photo .notification-user {
  border-radius: 50%;
  width: 42px;
  height: 42px;
}
.notification__item-photo .notification-tick {
  position: absolute;
  right: 0;
  bottom: 0;
}
.notification__item-name {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}
.notification__item-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #ADADAD;
  word-wrap: break-word;
}

.notification__item-content {
  display: flex;
  flex-direction: column;
}

.modal__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 570px;
  width: 100%;
  margin-top: 16px;
}
.modal__inner-item {
  width: 84px;
  height: 84px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #221D27;
  margin: 0 5px;
  border-radius: 10px;
  margin-bottom: 10px;
  border: 1px solid transparent;
  transition: all 0.2s linear;
  cursor: pointer;
}
.modal__inner-item:hover {
  border-color: #A029F4;
}
.modal__inner-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.borderColor {
  border-color: #A029F4;
}

/* indexPhoto */
.indexPhoto {
  margin-top: 30px;
}

.indexPhoto__inner {
  background: rgba(38, 38, 38, 0.5);
  border-radius: 25px;
  position: relative;
  overflow: hidden;
  padding: 58px 97px 41px;
}
.indexPhoto__inner .index_photo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.indexPhoto__inner img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  height: 100%;
  width: 100%;
}

.indexPhoto__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #E7E7E7;
}

.indexPhoto__subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  color: #FFFFFF;
  margin-top: 4px;
  margin-bottom: 43px;
}

.indexPhoto__btn {
  font-family: "Acrom";
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  max-width: 150px;
  width: 100%;
  min-height: 46px;
  background: linear-gradient(90deg, #94BAFE -11%, #D86AE0 47.97%, #9B23F6 100%);
  border-radius: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0px 0px 45px rgba(0, 0, 0, 0.37));
  transition: all 0.2s linear;
  position: relative;
}
.indexPhoto__btn:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: opacity 0.2s linear;
  border-radius: 220px;
}
.indexPhoto__btn:not(:disabled):hover:before {
  opacity: 0.2;
}
.indexPhoto__btn span {
  z-index: 3;
  position: relative;
}
.indexPhoto__btn--middle {
  max-width: 165px;
}
.indexPhoto__btn--big {
  max-width: 250px;
  justify-content: flex-start;
  padding-left: 25px;
  position: relative;
}
.indexPhoto__btn--big:after {
  content: "";
  position: absolute;
  background-image: url(../img/index_icon.svg);
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  width: 36px;
  height: 36px;
}

.btn__group {
  display: flex;
  justify-content: space-between;
}

.btn__group1 {
  display: flex;
  justify-content: space-between;
  max-width: 440px;
  width: 100%;
}

/* Project */
.project {
  margin-top: 20px;
}

.project__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}
.project__title img {
  margin-left: 9px;
}

.project__inner {
  min-height: 200px;
  background: #1D1625;
  border-radius: 25px;
  padding: 16px 19px;
}

/* Slider */
.project__item {
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  display: block;
}
.project__item .slider__block {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #FFFFFF;
}
.project__item img {
  width: 100%;
}

.btn__max {
  text-align: center;
}

.max {
  max-width: 160px;
  width: 100%;
  margin: 25px 0;
}

.splide__arrow {
  transition: 0.2s linear;
  opacity: 0.8;
}
.splide__arrow--prev {
  left: -5px;
}
.splide__arrow--next {
  right: -5px;
}

/* Launchpad */
.launchpad {
  margin-top: 37px;
}

.launchpad__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.launchpad__item {
  max-width: 350px;
  width: 100%;
  min-height: 500px;
  background: #1D1625;
  box-shadow: 0px 0px 20px -4px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 31px;
}
.launchpad__item-title {
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
}
.launchpad__item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  margin-top: 13px;
  margin-bottom: 1px;
}
.launchpad__item-btn {
  width: 100px;
  height: 30px;
  background: #B76BFC;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0px 0px 45px rgba(0, 0, 0, 0.37));
  transition: all 0.2s linear;
  position: relative;
  margin-left: auto;
  margin-top: 13px;
  margin-bottom: 1px;
}
.launchpad__item-btn:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: opacity 0.2s linear;
  border-radius: 15px;
}
.launchpad__item-btn:not(:disabled):hover:before {
  opacity: 0.2;
}
.launchpad__item-btn span {
  z-index: 3;
  position: relative;
}
.launchpad__item-line {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #C5C5DC;
}

.line__group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3px;
}

.line__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  text-align: right;
  margin-bottom: 5px;
}

.line {
  max-width: 312px;
  width: 100%;
  height: 9px;
  background: #342942;
  border-radius: 5px;
  position: relative;
}
.line:after {
  content: "";
  position: absolute;
  width: 220px;
  height: 7px;
  background: linear-gradient(90deg, #98ABFC 0%, #DD69E9 100%);
  border-radius: 5px;
  top: 1px;
}

.launchpad__group {
  padding: 11px 17px 28px 21px;
}

.registr__inner {
  max-width: 1110px;
  width: 100%;
  margin: 46px auto;
  background-color: #1D1625;
  border-radius: 25px;
  padding: 25px 0;
}

.registr__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  color: #FFFFFF;
  margin-bottom: 9px;
  text-align: center;
}

.registr__subtitle {
  font-weight: 500;
  font-size: 23px;
  line-height: 28px;
  color: #CDCDCD;
  text-align: center;
}

.registr__block {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 57px;
  max-width: 920px;
}

.registr__left {
  max-width: 350px;
  width: 100%;
}
.registr__left-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #B7B7B7;
}
.registr__left-title span {
  color: #EA7373;
}
.registr__left .search__input-text {
  margin-top: 7px;
  margin-bottom: 32px;
}
.registr__left-input {
  position: relative;
}

.registr__right {
  max-width: 460px;
  width: 100%;
}
.registr__right-group {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  margin-bottom: 22px;
}
.registr__right-photo {
  position: relative;
  padding-top: 3px;
  padding-bottom: 13px;
  max-width: 100px;
  width: 100%;
  height: 100px;
  background: #1D1625;
  border: 1px solid #3B3741;
  border-radius: 20px;
  text-align: center;
}
.registr__right-photo .register__plus {
  margin: 11px 0;
}
.registr__right-photo-banner {
  max-width: 335px;
}
.registr__right-photo .input__img {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 15px;
  opacity: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.registr__right-photo .input__img2 {
  max-width: 335px;
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 15px;
  opacity: 0;
  -o-object-fit: contain;
     object-fit: contain;
}
.registr__right-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

/* Product */
.product {
  margin-top: 27px;
}

.product__inner {
  min-height: 462px;
  background: #1D1625;
  border-radius: 25px;
  padding: 16px 19px;
}

.product__item {
  display: block;
  max-width: 253px;
  width: 100%;
  min-height: 375px;
  background: #221D27;
  border-radius: 15px;
  padding: 25px 15px;
  margin: 0 auto;
}
.product__item:hover .product__item-photo:before {
  opacity: 0.3;
}
.product__item:hover .product__item-photo:after {
  opacity: 1;
}
.product__item-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product__item-group2 {
  display: flex;
  justify-content: space-between;
}
.product__item-hurt {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product__item-hurt img {
  margin-right: 4px;
}
.product__item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}
.product__item-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #C0C0C0;
}
.product__item-photo {
  max-width: 223px;
  max-height: 223px;
  background: #888888;
  border-radius: 15px;
  overflow: hidden;
  margin: 12px 0;
  position: relative;
}
.product__item-photo:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: opacity 0.2s linear;
}
.product__item-photo:after {
  content: "Buy now";
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #94bbfe, #ac7dfe 52.08%, #ef1af8);
  opacity: 0;
  border-radius: 220px;
  border: none;
  height: 40px;
  font-weight: 700;
  padding: 0 15px;
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 1;
  transition: opacity 0.2s linear;
}
.product__item-photo img {
  width: 100%;
  height: auto;
}
.product__item-purple {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #E145EF;
}
.product__item-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -50px;
  position: relative;
  z-index: 2;
}

/* Info */
.info {
  margin-top: 30px;
  margin-bottom: 70px;
}

.info__inner {
  height: 200px;
  background: #262626;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  z-index: -1;
}
.info__inner img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  height: 100%;
  width: 100%;
}

.icons {
  max-width: 240px;
  margin-left: auto;
  margin-top: -40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 17px;
}

.icon {
  width: 32px;
  height: 32px;
}
.icon img {
  width: 32px;
  height: 32px;
}

.info__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 30px;
  margin-bottom: 12px;
}

.info__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  margin-bottom: 36px;
  color: #CACACA;
}

.info__group {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
  flex-wrap: wrap;
}
.info__group-text {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
}
.info__group-text span {
  font-weight: 800;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #6ED86D;
}
.info__group-text .red {
  font-weight: 800;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #D87A6D;
}

.info__up-group {
  position: relative;
  width: 100%;
}

.info__btn {
  cursor: pointer;
  width: 225px;
  height: 50px;
  background: #B76BFC;
  border-radius: 50px;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0px 0px 45px rgba(0, 0, 0, 0.37));
  transition: all 0.2s linear;
  position: relative;
  margin-top: 42px;
}
.info__btn:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: opacity 0.2s linear;
  border-radius: 15px;
}
.info__btn:not(:disabled):hover:before {
  opacity: 0.2;
}
.info__btn span {
  z-index: 3;
  position: relative;
}

.info__up {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  margin-bottom: 9px;
  width: 111px;
  margin-left: auto;
  position: relative;
  right: 25%;
}

.info__line {
  width: 100%;
  height: 15px;
  background: #1D1625;
  border-radius: 20px;
  position: relative;
  margin-bottom: 5px;
}
.info__line:after {
  position: absolute;
  content: "";
  max-width: 100%;
  width: 71%;
  height: 11px;
  top: 2px;
  background: linear-gradient(90deg, #97ACFD -0.63%, #DE69E9 101.04%);
  border-radius: 20px;
}

/* Create */
.create {
  padding: 41px 0;
}

.create__inner {
  width: 100%;
  background: #1D1625;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 28px 10px 72px;
}
.create__inner-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  max-width: 396px;
  width: 100%;
  padding-bottom: 7px;
}
.create__inner-subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #A6A3A3;
  max-width: 396px;
  width: 100%;
}
.create__inner-link {
  display: flex;
  align-items: center;
  width: 60px;
  margin-right: auto;
  margin-left: 50px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #A9A8A8;
}
.create__inner--box {
  padding: 63px 121px 37px 95px;
  align-items: stretch;
}

.create__flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.create__group {
  padding: 26px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.create__group-item {
  padding: 26px 42px;
  background: #221D27;
  border-radius: 20px;
  margin: 26px 10px;
}
.create__group-title {
  padding-top: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #E85B67;
}
.create__group-title--green {
  color: #70D17B;
}

.card__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 145px;
  height: 145px;
  background: linear-gradient(135deg, rgba(240, 136, 144, 0.12) 0.69%, rgba(244, 168, 174, 0.46) 100%);
  border-radius: 10px;
}
.card__img--green {
  background: linear-gradient(135deg, rgba(136, 240, 146, 0.05) 0.69%, rgba(168, 244, 176, 0.4) 100%);
}

/* Box */
.create__box {
  width: 100%;
  background: #1D1625;
  border-radius: 25px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.create__box-desc {
  margin-top: 3px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #A9A8A8;
}
.create__box-desc span {
  font-weight: 700;
  color: #3E3E3E;
}
.create__box-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.create__box-flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 52px;
}
.create__box-flexbox img {
  margin-bottom: 10px;
}
.create__box-descr {
  max-width: 375px;
  width: 100%;
  margin-right: 10px;
  position: relative;
}
.create__box-photo {
  max-width: 350px;
  width: 100%;
  background: #15101B;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 13px 21px 36px;
  margin-bottom: 45px;
  margin-right: 60px;
}

.create__photo-group {
  display: flex;
  justify-content: space-between;
}
.create__photo-like {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 22px;
}
.create__photo-like img {
  margin-right: 7px;
}
.create__photo-title {
  padding-top: 21px;
  margin-bottom: 7px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}
.create__photo-subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #C0C0C0;
}
.create__photo-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #787878;
}
.create__photo-block {
  max-width: 309px;
  width: 100%;
  min-height: 309px;
  background: linear-gradient(134.53deg, rgba(239, 132, 210, 0.1) 0.86%, rgba(182, 66, 235, 0.1) 99.89%);
  border-radius: 15px;
  margin: 17px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.create__photo-price {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #9029F5;
}

.mt {
  margin-top: -65px;
  position: relative;
  z-index: 2;
}

.line {
  max-width: 375px;
  width: 100%;
  font-family: "Acrom";
  border-top: none;
  border-left: none;
  border-right: none;
  margin-top: 9px;
  height: 23px;
  padding: 0;
  border-radius: 0;
  border-bottom: 1px solid #A9A8A8;
  outline: none;
  background-color: transparent;
  color: #fff;
  transition: 0.2s linear;
  margin-bottom: 6px;
}
.line::-moz-placeholder {
  font-family: "Acrom";
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #A9A8A8;
}
.line:-ms-input-placeholder {
  font-family: "Acrom";
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #A9A8A8;
}
.line::placeholder {
  font-family: "Acrom";
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #A9A8A8;
}
.line:focus {
  border-bottom-color: rgb(216, 106, 224);
}

.create__box-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}
.create__box-title:not(:first-of-type) {
  margin-top: 36px;
}

.btn--submit {
  max-width: 120px;
  width: 100%;
  font-family: "Acrom";
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 220px;
  border: none;
  height: 40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
  background: linear-gradient(90deg, #f288d1, #b23ded);
  color: #fff;
  margin-left: auto;
}
.btn--submit:disabled {
  opacity: 0.3;
  cursor: default;
}

.btn--box {
  margin: 0 auto;
  margin-top: 25px;
}

.create__block-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
}

.input__turn, .input__turn2 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  opacity: 0;
}

.multiple {
  padding-top: 21px;
  display: none;
}

.mulblock {
  display: block;
}

.input__img {
  width: 309px;
  height: 309px;
  position: absolute;
  border-radius: 15px;
  opacity: 0;
}

/* Modal */
.modal__thanks {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  opacity: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  transition: 1s linear;
}
.modal__thanks-content {
  max-width: 300px;
  height: 100px;
  width: 100%;
  background-color: #221D27;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid #D566E1;
  box-shadow: 0px 0px 37px rgba(113, 22, 155, 0.61);
}
.modal__thanks-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 18px;
  line-height: 17px;
  color: #70D17B;
}
.modal__thanks-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 17px;
  color: #fff;
}

.fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.1;
  }
  25% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.1;
  }
  25% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}
.fadeOut {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* Footer */
.footer {
  border-top: 1px solid #3B3741;
  border-bottom: 1px solid #3B3741;
  background: #26212c;
}

.footer__head {
  padding: 48px 0;
  min-height: 222px;
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #9E9EA7;
}
.footer__logo img {
  width: 139px;
  height: 29px;
  margin-bottom: 20px;
}

.footer__links {
  display: flex;
  flex-direction: column;
}
.footer__links-item {
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  color: #9E9EA7;
  margin-bottom: 20px;
  transition: color 0.2s linear;
}
.footer__links-item:hover {
  color: #fff;
}
.footer__links-item:last-child {
  margin-bottom: 0;
}
.footer__links-item--main {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}

.footer__form-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 13px;
}

.form__btn {
  font-family: "Acrom";
  font-weight: 700;
  font-size: 16px;
  height: 40px;
  padding-top: 1.5px;
  line-height: 19px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100px;
  background: linear-gradient(90deg, #94BBFE 0%, #AC7DFE 52.08%, #EF1AF8 100%);
  border-radius: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__form-icon {
  margin-top: 27px;
  max-width: 136px;
  display: flex;
  justify-content: space-between;
}
.footer__form-icon a {
  width: 32px;
  height: 32px;
}
.footer__form-icon img {
  cursor: pointer;
  transition: box-shadow 0.2s linear;
  border-radius: 50%;
}
.footer__form-icon img:hover {
  box-shadow: 1px 1px 8px rgb(216, 106, 224);
}

.under {
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #26212c;
}

.footer__under-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #9E9EA7;
}

.prive {
  display: none;
}

.list1 {
  display: none;
}

.burger {
  display: none;
}

.flex__content {
  max-width: 1050px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.more {
  max-width: 320px;
}

.topmod {
  width: 315px;
  top: 79px;
  right: 20px;
}

.ffff {
  display: block;
}

.header__icon-item2 {
  display: none;
}

.card__photo {
  margin-top: 30px;
  position: relative;
}
.card__photo-img {
  border-radius: 25px;
  overflow: hidden;
}
.card__photo-img img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  width: 100%;
}
.card__photo-user {
  width: 112px;
  height: 112px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #15101B;
}

.card__item {
  margin-top: 85px;
  display: flex;
  justify-content: space-between;
}

.card__left {
  position: relative;
  margin-right: 10px;
}
.card__left-img {
  max-width: 540px;
  width: 100%;
  border-radius: 25px;
  overflow: hidden;
}
.card__left-img img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  width: 100%;
}
.card__left-autor {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 200px;
  height: 60px;
  background: #15101B;
  border-radius: 30px;
  display: flex;
  padding-left: 7px;
  align-items: center;
}
.card__left-autor p {
  margin-left: 13px;
  margin-top: 5px;
  font-size: 20px;
  line-height: 24px;
}
.card__left-likes {
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 18px;
  left: 24px;
}

.count {
  margin-top: 3px;
  font-size: 28px;
  line-height: 36px;
  margin-left: 8px;
  color: #9e9ea7;
  transition: 0.1s linear;
}

.red {
  color: #db4d4d;
  fill: #db4d4d;
}

.card__right {
  max-width: 650px;
  width: 100%;
  position: relative;
}
.card__right-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  background: linear-gradient(90deg, #95BAFD 0%, #D86AE0 50.52%, #9B23F6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.card__right-text {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin-top: 34px;
  margin-bottom: 30px;
  color: #C0C0C0;
}
.card__right-price {
  display: flex;
  flex-direction: column;
}
.card__right .price1 {
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #C0C0C0;
}
.card__right .price2 {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #9029F5;
  margin-top: 4px;
  margin-bottom: 6px;
}
.card__right .price3 {
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
}
.card__right-btn {
  display: flex;
  justify-content: space-between;
  max-width: 330px;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
}
.card__right-btn .card__btn {
  max-width: 150px;
  width: 100%;
  min-height: 46px;
  border-radius: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0px 0px 45px rgba(0, 0, 0, 0.37));
  transition: all 0.2s linear;
  position: relative;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}
.card__right-btn .card__btn:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: opacity 0.2s linear;
  border-radius: 220px;
}
.card__right-btn .card__btn:not(:disabled):hover:before {
  opacity: 0.2;
}
.card__right-btn .card__btn span {
  z-index: 3;
  position: relative;
}
.card__right-btn .sell_btn {
  background: linear-gradient(90deg, #FBA575 0%, #F06F24 53.65%, #F32B2B 100%);
}
.card__right-btn .buy__btn {
  background: linear-gradient(90deg, #4EC84C 0%, #4CC8AA 52.6%, #558ADB 100%);
}

.card__pad {
  margin-bottom: 40px;
}

.table__title {
  margin-top: 40px;
  font-weight: 500;
  font-size: 32px;
}

.card__table {
  max-width: 100%;
  width: 100%;
  margin-bottom: 40px;
}

.card__table-row {
  text-align: center;
  color: #C0C0C0;
}
.card__table-row a {
  color: #C0C0C0;
}
.card__table-row a:hover {
  text-decoration: underline;
}

.card__table-flex {
  display: flex;
  align-items: center;
}

.card__table-col {
  display: flex;
  flex-direction: column;
}

.table-price {
  font-weight: 700;
  font-size: 16px;
  color: #9029F5;
}

.table-dol {
  font-weight: 500;
  color: #fff;
}

.market {
  margin-top: 30px;
  margin-bottom: 50px;
}

.market__inner {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.market__slide {
  max-width: 325px;
  width: 100%;
  transition: 0.15s linear;
  position: relative;
}
.market__slide-hidden {
  overflow: hidden;
}
.market__slide-item {
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  background: #1B1423;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  padding: 0 25px;
  cursor: pointer;
}
.market__slide-item--purple {
  padding-right: 10px;
  background: #8F29F5;
}
.market__slide-icon {
  width: 13px;
}
.market__slide-icon--abs {
  margin-bottom: 0;
  transition: 0.1s linear;
  border-radius: 8px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  position: absolute;
  right: -35px;
  background: #8F29F5;
}
.market__slide-icon--class {
  transition: 0.15s linear;
}

.market__catalog {
  width: 100%;
  padding-left: 50px;
}
.market__catalog-item {
  max-width: 158px;
  margin: 0 5px;
  width: 100%;
  position: relative;
}
.market__catalog-item:hover .market__catalog-photo:before {
  opacity: 0.3;
}
.market__catalog-item:hover .market__catalog-photo:after {
  opacity: 1;
}
.market__catalog-photo {
  width: 159px;
  height: 159px;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}
.market__catalog-photo:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: opacity 0.2s linear;
}
.market__catalog-photo:after {
  content: "Buy now";
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #94bbfe, #ac7dfe 52.08%, #ef1af8);
  opacity: 0;
  border-radius: 220px;
  border: none;
  height: 25px;
  font-weight: 700;
  padding: 0 7px;
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 1;
  transition: opacity 0.2s linear;
}
.market__catalog-user {
  display: flex;
  margin-top: 6px;
}
.market__catalog-user img {
  width: 39px;
  height: 39px;
  margin-right: 7px;
}
.market__catalog-purple {
  position: absolute;
  bottom: 55px;
  right: 0;
  background: #9029F5;
  border-radius: 15px;
  width: 110px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}
.market__catalog-conect {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #C0C0C0;
}
.market__catalog-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.market__catalog-list {
  background: #1D1625;
  border-radius: 25px;
  padding: 20px;
  margin-bottom: 20px;
  max-width: 220px;
}

:root {
  --scrollbarBg: rgba(158,158,167,.7);
  --scrollbarThumb: #a52ef5;
  --scrollbarWidth: 6px;
  --scrollbarBorderRadius: 6px;
}

.test__scroll {
  max-height: 261px;
  padding-bottom: 18px;
  overflow-y: auto;
  scrollbar-width: var(--scrollbarWidth);
  scrollbar-color: var(--scrollbarThumb) var(--scrollbarBg);
}
.test__scroll::-webkit-scrollbar-track {
  margin-top: 0px;
  margin-bottom: 20px;
}
.test__scroll::-webkit-scrollbar {
  width: var(--scrollbarWidth);
}
.test__scroll::-webkit-scrollbar-track {
  background: var(--scrollbarBg);
  border-radius: var(--scrollbarBorderRadius);
}
.test__scroll::-webkit-scrollbar-thumb {
  background-color: var(--scrollbarThumb);
  border-radius: var(--scrollbarBorderRadius);
}

.search__input--price {
  max-width: 120px;
  height: 40px;
  font-size: 16px;
  margin-top: 10px;
}

.to {
  margin: 0 8px;
  color: #9e9ea7;
  font-size: 16px;
}

.search-block {
  text-align: center;
}

.market__list {
  background: #181220;
  height: 0;
  overflow: hidden;
  transition: 0.1s linear;
  max-height: 240px;
}
.market__list-item {
  transition: 0.1s linear;
  display: flex;
  justify-content: flex-start;
  height: 60px;
  align-items: center;
  padding: 0 25px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #C0C0C0;
  background: #181220;
}
.market__list-item .dfin {
  width: 32px;
}
.market__list-name {
  padding-left: 7px;
  margin-right: 7px;
}
.market__list-avat {
  width: 28px;
  height: 28px;
}

.marker {
  background: rgba(225, 69, 239, 0.2);
}

.count-copies {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #C0C0C0;
  margin-bottom: 16px;
}

.chosen-categories {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.chosen-categories-item {
  margin-bottom: 10px;
  display: flex;
  margin-right: 17px;
  background: rgba(197, 60, 113, 0.4);
  border: 1px solid #EA4C89;
  border-radius: 220px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  padding: 0 14px;
  height: 35px;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
}
.chosen-categories-item img {
  margin-left: 10px;
}
.chosen-categories-item:nth-child(2n) {
  background: #294629;
  border: 1px solid #73CE77;
}

.clear {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #94BAFD;
  margin-bottom: 20px;
  display: none;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.chosen__item-img {
  cursor: pointer;
}

.clear-all {
  display: flex;
  align-items: center;
}

.indexPhoto__btn--market {
  max-width: 80px;
  min-height: auto;
  height: 35px;
  border-radius: 150px;
  padding: 0;
  margin: 0;
  margin-bottom: 8px;
  margin-left: 16px;
  color: #fff;
  margin-top: 15px;
  width: 100%;
  background: linear-gradient(90deg, #94BAFE -11%, #D86AE0 47.97%, #9B23F6 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0px 0px 45px rgba(0, 0, 0, 0.37));
  transition: all 0.2s linear;
  position: relative;
}

.market__list--padding {
  padding: 10px 0;
}

@media (max-width: 1110px) {
  .card__right {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .card__item {
    flex-wrap: wrap;
    justify-content: center;
  }
  .flex__content {
    max-width: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.85);
    position: absolute;
    top: 56px;
    right: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: auto;
    padding-left: 10px;
    height: 0;
    overflow: hidden;
    padding-right: 20px;
    transition: height 0.2s linear;
  }
  .btn {
    min-width: 300px;
    padding: 15px 19px;
  }
  .header__icon {
    min-width: 300px;
    justify-content: center;
  }
  .flex__content.show {
    z-index: 5;
    height: 400px;
    transition: height 0.2s linear;
  }
  .notification__modal {
    top: 65px;
    left: 23px;
    right: auto;
  }
  .topmod {
    top: 65px;
    left: 23px;
  }
  .modal__inner {
    max-width: 315px;
    margin-top: 0;
  }
  .header__search {
    margin-top: 20px;
  }
  .header__icon {
    margin-bottom: 20px;
  }
  .burger {
    display: block;
    padding: 9px 2px;
    background: none;
    border: 0;
    cursor: pointer;
    transition-duration: 1s;
  }
  .burger__item {
    display: block;
    width: 35px;
    height: 3px;
    background-color: #9e9ea7;
    font-size: 0;
    position: relative;
    transition-duration: 0.25s;
    transition-delay: 0.25s;
  }
  .burger__item:before,
.burger__item:after {
    content: "";
    height: 100%;
    background-color: #9e9ea7;
    position: absolute;
    right: 0;
    z-index: 1;
    transition-duration: 0.25s;
  }
  .burger__item:before {
    width: 35px;
    top: -11px;
    transition: transform 0.25s, top 0.25s 0.25s;
  }
  .burger__item:after {
    width: 35px;
    bottom: -10px;
    transition: transform 0.25s, bottom 0.25s 0.25s;
  }
  .burger-active .burger__item {
    transition-duration: 0.1s;
    transition-delay: 0.25s;
    background: transparent;
  }
  .burger-active .burger__item:before {
    top: 0;
    transition: top 0.4s, transform 0.25s 0.25s;
    transform: rotateZ(45deg);
  }
  .burger-active .burger__item:after {
    bottom: 0;
    transition: bottom 0.25s, transform 0.25s 0.25s;
    transform: rotateZ(-45deg);
  }
  .show {
    display: flex;
  }
  .flex {
    display: flex;
    justify-content: flex-end;
    padding: 15px;
  }
  .nav {
    align-items: flex-start;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.85);
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: auto;
    padding-left: 10px;
    height: 0;
    overflow: hidden;
    transition: height 0.2s linear;
  }
  .nav.show {
    height: 220px;
    transition: height 0.2s linear;
  }
  .indexPhoto__inner {
    background: rgba(38, 38, 38, 0.5);
    border-radius: 25px;
    position: relative;
    overflow: hidden;
    padding: 20px;
  }
  .indexPhoto__inner .index_photo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }
  .btn-registr {
    max-width: 160px;
    min-width: auto;
  }
}
@media (max-width: 992px) {
  .create__box-photo {
    margin-top: 40px;
    margin-right: 0;
  }
  .create__box-flex {
    justify-content: center;
    flex-wrap: wrap;
  }
  .notification__modal {
    top: 65px;
    right: 420px;
  }
  .topmod {
    top: 65px;
    right: 390px;
  }
  .none {
    display: none;
  }
  .none_pad {
    padding-right: 74px;
  }
  .indexPhoto__subtitle {
    margin-bottom: 20px;
  }
  .indexPhoto__btn {
    margin-bottom: 10px;
  }
  .indexPhoto__inner {
    padding: 10px;
    text-align: center;
  }
  .btn__group {
    flex-direction: column;
    align-items: center;
  }
  .btn__group1 {
    display: none;
  }
}
@media (max-width: 768px) {
  .registr__block {
    flex-wrap: wrap;
    justify-content: center;
  }
  .registr__right {
    order: 1;
    margin-bottom: 1px;
  }
  .center__block {
    text-align: center;
  }
  .registr__left {
    order: 2;
  }
  .market__catalog-flex {
    justify-content: center;
  }
  .footer__head {
    flex-wrap: wrap;
  }
  .ffff {
    display: none;
  }
  .header__icon-item2 {
    display: block;
  }
  .footer__logo {
    display: flex;
    flex-direction: column;
    max-width: none;
    width: 100%;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #9E9EA7;
    text-align: center;
    margin-bottom: 30px;
  }
  .footer__logo img {
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .footer__form {
    margin-top: 40px;
    width: 100%;
    text-align: center;
  }
  .search {
    max-width: 390px;
    margin: 0 auto;
  }
  .footer__form-icon {
    margin: 0 auto;
    margin-top: 27px;
  }
  .topmod {
    top: 445px;
    left: 50%;
    transform: translateX(-50%);
    border: none;
  }
  .flex__content {
    align-items: center;
  }
  .flex__content.show {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .notification__modal {
    top: 445px;
    left: 50%;
    transform: translateX(-50%);
    right: 0;
    border: 2px solid #b82bc4;
    max-width: 315px;
    width: 100%;
  }
  .notification__modal-inner {
    max-width: 315px;
    width: 100%;
  }
}
@media (max-width: 754px) {
  .launchpad__inner {
    justify-content: center;
  }
}
@media (max-width: 600px) {
  .search__photo-projects {
    right: 60px;
  }
  .search__input-projects {
    max-width: 320px;
  }
  .indexPhoto__subtitle {
    font-size: 28px;
  }
  .indexPhoto__inner {
    padding: 5px;
  }
  .indexPhoto__subtitle {
    margin-bottom: 10px;
  }
  .card__right {
    margin-bottom: 90px;
  }
  .card__right-btn {
    position: absolute;
    bottom: -70px;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (max-width: 496px) {
  .registr__inner {
    padding-left: 10px;
    padding-right: 10px;
  }
  .market__slide {
    position: absolute;
    z-index: 2;
  }
  .market__slide {
    max-width: 300px;
  }
  .adaptive {
    justify-content: center;
  }
  .create__inner--box {
    padding: 63px 20px 37px 20px;
  }
}/*# sourceMappingURL=style.css.map */